p {
  padding-bottom: 2em;
}
h1 {
  padding: 2em 0 0.4em;
}
h2 {
  padding: 2em 0 0.4em;
  text-transform: uppercase;
  font-size: 1.6em;
  font-family: "lato", "tenon", verdana, sans-serif;
  font-weight: 600;
}
/* Hero */
.hero {
  background-image: url(../images/mountaineer.jpg);
}
.hero__content p {
  color: #000;
}

/* Main */
main {
  width: 100%;
  padding-bottom: 2em;
  background-color: #fff;
  position: relative;
}
main section {
  width: 80%;
  margin: 0 auto;
}
.whereonsite {
  display: flex;
  font-size: 0.6em;
  position: absolute;
  top: 10px;
  left: 10px;
}
.whereonsite a {
  color: #0a3641;
  padding: 0 5px;
}

.imagecontainer {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.imagecontainer:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.imagecontainer img {
  position: absolute;
  width: 100%;
  width: 100%;
}
.will-swann {
  display: flex;
  align-items: center;
}
.about_jackets {
  display: flex;
  flex-direction: column;
}
.matt-hardy {
  order: 2;
}
