/* Search field */
#search,
.searchbox {
  display: none;
}
.searchbox {
  width: 100%;
  max-width: 430px;
  max-height: 430px;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 999;
}
.searchwrap {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 50px auto auto auto;
  width: 80%;
  margin: 0 auto;
}
.searchbox label {
  grid-column: 1/4;
  grid-row: 1/5;
  justify-self: right;
  margin: 15px 0 30px 0;
  font-size: 1.5em;
}
.searchwrap div {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2em;
  margin-top: 30px;
}
.searchlabel {
  margin-left: 20px;
}
.searchfield {
  width: 100%;
  grid-column: 2/3;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #707070;
  margin-top: 20px;
  padding-left: 10px;
}
.searchwrap a {
  grid-column: 2/3;
  width: 100%;
  background-color: #d97904;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0 80px 0;
  font-size: 0.8em;
}
#search:checked ~ .searchbox {
  display: block;
}

/* User Login */
#login,
.loginbox {
  display: none;
}
.loginbox {
  width: 100%;
  max-width: 430px;
  max-height: 430px;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 999;
}
.loginwrap {
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 50px repeat(5, auto);
  width: 80%;
  margin: 0 auto;
}
.loginbox label {
  grid-column: 1/4;
  grid-row: 1/5;
  justify-self: right;
  margin: 15px 0 30px 0;
  font-size: 1.5em;
}
.loginwrap div {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 10px;
}
.loginlabel {
  margin-left: 20px;
}
.userfield,
.passwordfield {
  grid-column: 2/3;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #707070;
  margin-top: 10px;
  padding-left: 10px;
}
.loginwrap a {
  grid-column: 2/3;
  width: 100%;
  background-color: #d97904;
  text-align: center;
  padding: 5px 0;
  margin: 20px 0 10px 0;
  font-size: 0.8em;
}
#userhelppw,
#userhelpac {
  grid-column: 2/3;
  background: none;
  color: #0a3641;
  margin: 0;
  text-align: left;
  font-size: 0.65em;
}
.margin {
  margin-bottom: 60px;
  grid-column: 2/3;
}
#login:checked ~ .loginbox {
  display: block;
}

/* Cart field */
#cart,
.cartbox {
  display: none;
}
.cartbox {
  width: 100%;
  max-width: 430px;
  max-height: 430px;
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 100px;
  z-index: 999;
}
.cartwrap {
  display: grid;
  grid-template-columns: 20px auto 40px;
  grid-template-rows: 50px auto auto auto;
  width: 80%;
  margin: 0 auto;
}
.cartbox label {
  grid-column: 1/4;
  grid-row: 1/5;
  justify-self: right;
  margin: 15px 0 30px 0;
  font-size: 1.5em;
}
.cartwrap div {
  display: flex;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2em;
  margin-top: 30px;
}
.cartlabel {
  margin-left: 15px;
}
#empty {
  grid-column: 2/3;
  text-align: center;
  margin: 50px 0 60px 0;
}
#cart:checked ~ .cartbox {
  display: block;
}

@media only screen and (max-width: 430px) {
  .cartwrap div {
    font-size: 1.6em;
  }
  .cartwrap {
    grid-template-columns: 10px auto 20px;
  }
}
