@media only screen and (min-width: 550px) {
  .sizes {
    justify-content: flex-end;
  }
  .btn_size {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 700px) {
  .container,
  .listofjackets {
    width: 80%;
    margin: 0 auto;
    gap: 2em;
  }
  .productmain,
  .checkoutmain {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo img {
    padding-left: 2em;
  }
  .hamburger-menu {
    padding-right: 2em;
  }
  .hero {
    background-position: bottom center;
  }
  .hero__home {
    background-color: rgba(0, 0, 0, 0.65);
  }

  main {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
  }

  .main__box {
    width: 100%;
  }
  .main__box img {
    border: none;
  }
  .main__men p,
  .main__women p {
    color: #fff;
    bottom: 1%;
    right: 2%;
  }
  main h2 {
    justify-self: left;
    padding-bottom: 1em;
  }

  #latest-homepage {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
  }
  #latest-homepage h2 {
    justify-self: left;
  }
  .jacket {
    width: 100%;
    padding-right: 1.5em;
    grid-template-areas:
      "jacket name"
      "jacket description"
      "jacket price"
      "jacket stars";
  }
  .jacket h3,
  .stars {
    justify-self: end;
  }
  .price {
    align-self: end;
  }
  footer {
    width: 80%;
    margin: 3em auto 0 auto;
  }
  .footer div h4 {
    padding-bottom: 0.5em;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social {
    flex-direction: column;
    margin-top: 0;
  }
  .social a {
    margin-bottom: 0.5em;
  }

  /* Men and women */
  .latest .container {
    width: 80%;
  }

  /* Product Specific */
  .specification h2 {
    padding: 0;
  }
  /* About */
  .imagecontainer {
    margin: unset;
  }
  /* Contact */
  .formheading h2 {
    padding-bottom: 0;
  }
  /* Checkout */
  .formgrid {
    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 1em;
  }
  .formgrid_2 {
    grid-row: 2/3;
  }
  .formgrid_3 {
    grid-column: 3/4;
  }
  .formgrid_4 {
    grid-column: 3/4;
  }
}
@media only screen and (min-width: 1000px) {
  header {
    display: grid;
    grid-template-columns: 226px auto 500px auto 180px;
  }
  .hamburger-menu {
    display: none;
  }
  .menu,
  #hamburger-menu:checked ~ .menu {
    display: block;
    top: auto;
    grid-column: 3/4;
    background: none;
    font-weight: 200;
  }
  .menu ul {
    width: 100%;
    display: flex;
    font-weight: 200;
    justify-content: space-around;
  }
  .iconmenu,
  #hamburger-menu:checked ~ .iconmenu {
    grid-column: 5/6;
    display: flex;
    color: #fff;
    width: 226px;
    justify-content: flex-start;
    top: auto;
    background: none;
  }
  main .container {
    grid-template-columns: 1fr 1fr;
  }
  main h2 {
    grid-column: 1/3;
  }
  .main__motivation {
    background-image: url(..//images/alireza-shojaei.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 50px;
    font-family: tenon, verdana, sans-serif;
    font-size: 2.1em;
    font-weight: 500;
  }
  .main__p {
    display: flex;
    align-items: center;
    background-color: #d4e0e2;
    padding: 30px 30px;
    font-family: tenon, verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.5em;
    height: 100%;
  }
  .jacket img {
    width: 60%;
    justify-self: left;
    padding-left: 2em;
  }
  .social {
    flex-direction: row;
  }
  .social a {
    margin-left: 0.8em;
  }
  .filter {
    justify-content: flex-end;
  }
  #sort {
    margin-right: 1.3em;
  }
  /* Product Specific */
  .jacketspecific {
    max-width: 80%;
    grid-template-columns: 1fr 10% 1fr;
  }
  .specificimages,
  .jacketinfo {
    max-width: 500px;
  }
  .jacketinfo {
    grid-column: 3/4;
  }
  .jacketinfo h1 {
    text-align: left;
  }
  .specification {
    white-space: nowrap;
  }
  .sizes {
    justify-content: space-between;
  }
  .btn_xs {
    margin-left: 0;
  }
  .reviews {
    grid-column: 3/4;
  }
  /* About*/
  .about_weare,
  .about_jackets {
    display: grid;
    grid-template: auto auto / 1fr 10% 1fr;
  }
  .about_weare h1,
  .about_jackets h2 {
    grid-column: 1/4;
  }
  .about_weare .imagecontainer {
    grid-column: 3/4;
    width: 30vw;
    height: 30vw;
  }
  .about_jackets .imagecontainer {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 30vw;
    height: 30vw;
  }
  .about_jackets p {
    grid-column: 3/4;
  }

  /* Contact */
  .contact_main {
    display: grid;
    grid-template-columns: 3fr 10% 2fr;
    grid-template-rows: auto auto;
    width: 80%;
    margin: 0 auto;
  }
  .contactinfo {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    margin-top: 60px;
  }
  .contact_us {
    width: 100%;
  }
  .contact {
    grid-row: 2/3;
    width: 100%;
  }
  .contact_main .imagecontainer {
    display: block;
    grid-column: 3/4;
    align-self: start;
    top: 122px;
  }
}
@media only screen and (min-width: 1100px) {
  .main__p {
    line-height: 2em;
  }
  /* Product Specification */
  .alsolike {
    display: block;
  }
  .alsolike .listofjackets .jacket > p:first-of-type {
    font-size: 0.65em;
  }
  .alsolike .listofjackets .stars {
    font-size: 0.3em;
  }
  .alsolike .jacket {
    grid-template-areas:
      "jacket jacket"
      "name name"
      "description description"
      "stars price";
    max-width: 330px;
  }
  .alsolike .jacket img {
    width: 100%;
    justify-self: center;
    padding: 0;
  }
  .alsolike .jacket h3 {
    justify-self: left;
    padding-bottom: 0.5em;
  }
  .alsolike .stars {
    justify-self: left;
  }
  .alsolike .price {
    margin-left: -15px;
  }
}

@media only screen and (min-width: 1159px) {
  .contactinfo {
    margin-top: 80px;
  }
  /* Checkout */
  .checkoutform {
    display: grid;
    grid-template-columns: 3fr 10% 2fr;
  }
  .checkoutform section:nth-child(2) {
    grid-column: 3/4;
  }
  #checkouth2 {
    margin-top: 0;
    margin-bottom: 0.55em;
  }
}

@media only screen and (min-width: 1248px) {
  .main__p {
    line-height: 3em;
  }
  .footer {
    justify-content: space-around;
  }
  .contactinfo {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1300px) {
  main,
  #latest-homepage,
  footer,
  .alsolike {
    max-width: 1100px;
  }
  .hero {
    height: 80vh;
  }
  .hero__home {
    width: auto;
    bottom: 20%;
    right: 10%;
    background: none;
  }
  .hero__content {
    font-size: 1.7em;
    max-width: 600px;
  }
  .main__motivation {
    font-size: 3em;
  }
  .main__men,
  .main__motivation {
    justify-self: left;
  }
  .main__women,
  .main__p {
    justify-self: right;
  }
  .latest {
    display: grid;
  }
  #latest-homepage .container,
  .latest .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
  }
  .listofjackets {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
  }
  .listofjackets .jacket > p:first-of-type {
    font-size: 0.65em;
  }
  .listofjackets .stars {
    font-size: 0.3em;
  }
  #latest-homepage h2,
  .latest h2 {
    grid-column: 1/4;
  }
  .jacket {
    grid-template-areas:
      "jacket jacket"
      "name name"
      "description description"
      "stars price";
    max-width: 330px;
  }
  .jacket img {
    width: 100%;
    justify-self: center;
    padding: 0;
  }
  .jacket h3 {
    justify-self: left;
    padding-bottom: 0.5em;
  }
  .stars {
    justify-self: left;
  }
  .filter {
    margin: 1em 0;
  }
  .price {
    margin-left: -15px;
  }
  /* Produckt Specific */
  .alsolike .listofjackets {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .alsolike .listofjackets h2 {
    grid-column: 1/5;
  }
  .jacket_1 {
    grid-column: 1/2;
  }
  .jacket_4 {
    display: grid;
  }

  /* Contact */
  .contactinfo {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 1350px) {
  .contactinfo {
    margin-top: 140px;
  }
}
