/* All */
main {
  padding-top: 2em;
}
.jacketspecific,
.specification {
  max-width: 600px;
  margin: 0 auto;
}

/* Main */
.productmain {
  width: 100%;
  padding-bottom: 2em;
  background-color: #fff;
  position: relative;
  margin-top: 100px;
}
.whereonsite {
  display: flex;
  font-size: 0.6em;
  position: absolute;
  top: 10px;
  left: 10px;
}
.whereonsite a {
  color: #0a3641;
  padding: 0 5px;
}

/* Jacket */
.jacketspecific {
  display: grid;
  grid-template-rows: auto auto auto;
}
.specificimages {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 2em;
}
.thumbs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.bigimg {
  max-width: 70%;
  justify-self: center;
  max-height: 280px;
}
.smallimg {
  width: 55px;
  height: 65px;
}
h1 {
  color: #0a3641;
  text-align: center;
  margin: 1.4em 0 0.5em 0;
}
.jacketinfo {
  width: 80%;
  margin: 0 auto 40px auto;
}
.sizes {
  margin: 40px 0 20px;
  display: flex;
  justify-content: space-between;
}
.quantity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.btn_size,
.btn_quantity,
.btn_quantitynumber {
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #0a3641;
  font-size: 15px;
  color: #0a3641;
}
.btn_quantitynumber {
  background-color: #d4e0e2;
}

/* Reviews */
.reviews {
  width: 80%;
  margin: 1.5em auto 3em auto;
}
.review_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.review_heading {
  font-size: 1em;
  font-weight: 100;
}
.review_name {
  font-size: 0.9em;
}
.review-star {
  font-size: 0.7em;
}
.review p {
  font-size: 0.8em;
}
.review {
  margin: 25px 0;
  padding-bottom: 5px;
  border-bottom: #0a3641 1px dashed;
}
.review div {
  display: flex;
  justify-content: space-between;
}

.write_review {
  color: #0a3641;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1em;
  font-weight: 400;
}

/* Specification */
.specification {
  width: 80%;
  margin: 1.5em auto;
}
.specification h2 {
  margin-bottom: 0.5em;
}
.specification div * {
  display: inline-block;
}
.light {
  color: #707070;
  padding-left: 0.5em;
}

/* You may also like */
.alsolike {
  display: none;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
  justify-content: space-between;
}
.alsolike .listofjackets {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1px 1fr 1fr 1fr 1px;
  
}
.alsolike .listofjackets h2 {
  grid-column: 2/6;
}
.jacket_1 {
  grid-column: 2/3;
}
.jacket_4 {
  display: none;
}

.
