/* All */
main {
  padding-top: 2em;
}
.jacketspecific,
.specification {
  max-width: 600px;
  margin: 0 auto;
}

/* Cart indicator */
#cart_circle,
#orangecircle{
  display: none;
}
#cart_lable{
  text-transform: uppercase;
  color: #fff;
}

#cart_circle:checked ~ #orangecircle {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #d97904;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 20px;
}
.cart_div{
  position: relative;
}

/* Main */
.productmain {
  width: 100%;
  padding-bottom: 2em;
  background-color: #fff;
  position: relative;
  margin-top: 100px;
}
.whereonsite {
  display: flex;
  font-size: 0.6em;
  position: absolute;
  top: 10px;
  left: 10px;
}
.whereonsite a {
  color: #0a3641;
  padding: 0 5px;
}

/* Jacket */
#add-to-cart {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-family: Lato, tenon, verdana, sans-serif;
  border: none;
  position: relative;
  display: block;
 /*  overflow:hidden; */
}
#add-to-cart:hover{
  color: #d97904;
}

#added-to-cart {
  height: 10%;
  width: 10%;
  background-color: #027902;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  text-align: center;
  padding-top: 3px;
  overflow: hidden;
  margin-left: -5%;
  animation: icon 5s ease-in forwards;
}
#added-to-cart:hover {
  color: #fff;
  border-color: #027902;
}

@keyframes icon {
  0%{

  }
  10%{
    top: 0;
    left:0;
    margin-left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  92% {
    top: 0;
    left:0;
    margin-left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  100% {
    top: 0;
    left:0;
    margin-left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
}

.jacketspecific {
  display: grid;
  grid-template-rows: auto auto auto;
}
.specificimages {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 2em;
}
.thumbs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.bigimg {
  max-width: 70%;
  justify-self: center;
  max-height: 280px;
}
.smallimg {
  width: 55px;
  height: 65px;
}
h1 {
  color: #0a3641;
  text-align: center;
  margin: 1.4em 0 0.5em 0;
}
.jacketinfo {
  width: 80%;
  margin: 0 auto 40px auto;
}
.sizes {
  margin: 40px 0 20px;
  display: flex;
  justify-content: space-between;
}
.quantity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn_size,
.btn_quantity,
.btn_quantitynumber {
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #0a3641;
  font-size: 15px;
  color: #0a3641;
}
.btn_quantity:hover {
  cursor: pointer;
}
.btn_quantitynumber {
  background-color: #d4e0e2;
}

/* Reviews */
.reviews {
  width: 80%;
  margin: 1.5em auto 3em auto;
}
.review_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.review_heading {
  font-size: 1em;
  font-weight: 100;
}
.review_name {
  font-size: 0.9em;
}
.review-star {
  font-size: 0.7em;
}
.review p {
  font-size: 0.8em;
}
.review {
  margin: 25px 0;
  padding-bottom: 5px;
  border-bottom: #0a3641 1px dashed;
}
.review div {
  display: flex;
  justify-content: space-between;
}

.write_review {
  color: #0a3641;
  text-transform: capitalize;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1em;
  font-weight: 400;
}

/* Specification */
.specification {
  width: 80%;
  margin: 1.5em auto;
}
.specification h2 {
  margin-bottom: 0.5em;
}
.specification div * {
  display: inline-block;
}
.light {
  color: #707070;
  padding-left: 0.5em;
}

/* You may also like */
.alsolike {
  display: none;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2em;
  justify-content: space-between;
}
.alsolike .listofjackets {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1px 1fr 1fr 1fr 1px;
  
}
.alsolike .listofjackets h2 {
  grid-column: 2/6;
}
.jacket_1 {
  grid-column: 2/3;
}
.jacket_4 {
  display: none;
}

.
