/*Global*/
@import url("https://use.typekit.net/onj7zyw.css");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, Tenon, Verdana, sans-serif;
  font-size: 20px;
  font-weight: normal;
  background-color: #d4e0e2;
  margin: 0 auto;
  position: relative;
  color: #0a3641;
}
h1 {
  font-size: 1.6em;
  color: #fff;
  text-transform: uppercase;
}
h2 {
  font-family: tenon, verdana, sans-serif;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
}
.hero__content p {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.orange-text {
  color: #d97904;
}
.container {
  display: grid;
  justify-items: center;
  gap: 1em;
}
.jacket-target {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

/* Effects */
.menu a:hover {
  text-decoration: underline;
}
.iconmenu i:hover,
.social i:hover {
  cursor: pointer;
  color: #d97904;
}
.cta:hover {
  background-color: #fff;
  color: #000;
}
#latest-homepage h2 {
  position: relative;
}
#latest-homepage h2 span {
  position: absolute;
  top: -150px;
}
.main__men:hover img,
.main__women:hover img {
  transform: scale(1.1);
}
.jacket:hover {
  border: 2px solid #0a3641;
}
footer a:hover {
  color: #0a3641;
  font-weight: 500;
}
.footer-current {
  text-decoration: underline;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.logo img {
  height: 100px;
  padding-left: 20px;
}
.menu,
.iconmenu,
.dropdownmenu {
  display: none;
}
#hamburger-menu {
  display: none;
}
.hamburger-menu {
  padding-right: 20px;
  font-size: 1.8em;
  color: #fff;
}
.hamburger-menu:hover {
  cursor: pointer;
}
#hamburger-menu:checked ~ .dropdownmenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  background-color: #000;
  z-index: 998;
  color: #fff;
}
.menuhamburger,
.iconhamburger {
  text-align: center;
  font-size: 1.3em;
}
.menuhamburger li {
  padding-top: 0.4em;
}
.iconhamburger {
  display: flex;
  justify-content: center;
}
.iconhamburger i {
  padding: 1em;
}

/* Hero */
.hero {
  height: 70vh;
  min-height: 490px;
  background-image: url(../images/kamil-kalbarczyk03.jpg);
  background-size: cover;
  background-position: bottom right;
  position: relative;
}
.hero__content {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px 0 30px 0;
}
.hero__content p {
  margin-bottom: 1.5em;
}
.hero__content a {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 10px;
}

/* See our jackets */
main {
  width: 100%;
  padding-bottom: 2em;
  background-color: #fff;
}
main .container {
  grid-template-rows: auto 1fr 1fr;
  position: relative;
}
main h2 {
  margin: 1.5em 0 0.7em 0;
  text-align: center;
  margin-bottom: -0.5em;
}
.main__box img {
  width: 100%;
  z-index: 900;
  border: #d97904 3px solid;
}
.main__box {
  width: 80%;
  height: auto;
  position: relative;
  overflow: hidden;
  max-height: 430px;
  max-width: 430px;
}
.main__men p,
.main__women p {
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  right: 5%;
  z-index: 950;
  color: #d97904;
  font-family: Tenon, verdana, sans-serif;
  font-size: 3em;
}
.main__p,
.main__motivation {
  display: none;
}

/* Latest */
#latest-homepage {
  width: 100%;
  background-color: #fff;
  padding-bottom: 3em;
}
#latest-homepage .container {
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
#latest-homepage h2 {
  text-align: center;
}
.jacket {
  position: relative;
  width: 80%;
  height: auto;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "jacket jacket"
    "name name"
    "description description"
    "stars price";
}
.jacket img {
  width: 95%;
  margin-top: 0.5em;
  grid-area: jacket;
  align-self: center;
}
.jacket h3 {
  grid-area: name;
  padding-top: 1em;
  justify-self: start;
}
.jacket > p:first-of-type {
  grid-area: description;
  font-size: 0.85em;
  font-weight: lighter;
  color: #707070;
  justify-self: start;
  padding-bottom: 2em;
}
.stars {
  grid-area: stars;
  font-size: 0.5em;
  justify-self: start;
}
.jacket .price {
  grid-area: price;
  justify-self: end;
  font-family: tenon, verdana, sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

/* Footer */
footer {
  margin-top: 3em;
  border-top: 3px #0a3641 solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  margin-top: 1em;
}
footer a {
  color: #707070;
  font-weight: lighter;
  text-transform: capitalize;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
}
.social {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.social a {
  color: #0a3641;
}
.copyright {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 1.2em 0;
  font-weight: 300;
}

/* Larger screens */
@media only screen and (min-width: 700px) /* and (max-width: 1000px) */ {
  .container {
    width: 80%;
    margin: 0 auto;
    gap: 2em;
  }
  .logo img {
    padding-left: 2em;
  }
  .hamburger-menu {
    padding-right: 2em;
  }
  .hero {
    background-position: bottom center;
  }
  .hero__content {
    background-color: rgba(0, 0, 0, 0.65);
  }

  main {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
  }

  .main__box {
    width: 100%;
  }
  .main__box img {
    border: none;
  }
  .main__men p,
  .main__women p {
    color: #fff;
    bottom: 1%;
    right: 2%;
  }
  main h2 {
    justify-self: left;
    padding-bottom: 1em;
  }

  #latest-homepage {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
  }
  #latest-homepage h2 {
    justify-self: left;
  }
  .jacket {
    width: 100%;
    padding-right: 1.5em;
    grid-template-areas:
      "jacket name"
      "jacket description"
      "jacket price"
      "jacket stars";
  }
  .jacket h3,
  .stars {
    justify-self: end;
  }
  .price {
    align-self: end;
  }
  footer {
    width: 80%;
    margin: 3em auto 0 auto;
  }
  .footer div h4 {
    padding-bottom: 0.5em;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social {
    flex-direction: column;
    margin-top: 0;
  }
  .social a {
    margin-bottom: 0.5em;
  }
}
@media only screen and (min-width: 1000px) {
  .hamburger-container {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 226px auto 500px auto 180px;
  }
  .menu {
    display: block;
    grid-column: 3/4;
  }
  .menu ul {
    width: 100%;
    display: flex;
    font-weight: 200;
    justify-content: space-around;
  }
  .iconmenu li {
    margin-right: 1.5em;
  }
  .iconmenu {
    grid-column: 5/6;
    display: flex;
    color: #fff;
    width: 226px;
    justify-content: flex-start;
  }
  main .container {
    grid-template-columns: 1fr 1fr;
  }
  main h2 {
    grid-column: 1/3;
  }
  .main__motivation {
    background-image: url(..//images/alireza-shojaei.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 50px;
    font-family: tenon, verdana, sans-serif;
    font-size: 2.1em;
    font-weight: 500;
  }
  .main__p {
    display: flex;
    align-items: center;
    background-color: #d4e0e2;
    padding: 30px 30px;
    font-family: tenon, verdana, sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.5em;
    height: 100%;
  }
  .jacket img {
    width: 60%;
    justify-self: left;
    padding-left: 2em;
  }
  .social {
    flex-direction: row;
  }
  .social a {
    margin-left: 0.8em;
  }
}
@media only screen and (min-width: 1100px) {
  .main__p {
    line-height: 2em;
  }
}
@media only screen and (min-width: 1248px) {
  .main__p {
    line-height: 3em;
  }
  .footer {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1300px) {
  main,
  #latest-homepage,
  footer {
    max-width: 1100px;
  }
  .hero {
    height: 80vh;
  }
  .hero__content {
    width: auto;
    bottom: 20%;
    right: 10%;
    background: none;
  }
  .main__motivation {
    font-size: 3em;
  }
  .main__men,
  .main__motivation {
    justify-self: left;
  }
  .main__women,
  .main__p {
    justify-self: right;
  }
  #latest-homepage .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 1fr;
  }
  #latest-homepage h2 {
    grid-column: 1/4;
  }
  .jacket {
    grid-template-areas:
      "jacket jacket"
      "name name"
      "description description"
      "stars price";
    max-width: 330px;
  }
  .jacket img {
    width: 100%;
    justify-self: center;
    padding: 0;
  }
  .jacket h3 {
    justify-self: left;
    padding-bottom: 0.5em;
  }
  .stars {
    justify-self: left;
  }
}
