/*Global*/
@import url("https://use.typekit.net/onj7zyw.css");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, Tenon, Verdana, sans-serif;
  font-size: 20px;
  font-weight: normal;
  background-color: #d4e0e2;
  margin: 0 auto;
  position: relative;
  color: #0a3641;
}
h1 {
  font-size: 1.6em;
  color: #fff;
  text-transform: uppercase;
}
.hero__content p {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 126px;
  width: 100%;
  margin-bottom: 10px;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.logo img {
  height: 100px;
  padding-left: 10px;
}
.menu,
.iconmenu,
.dropdownmenu {
  display: none;
}
#hamburger-menu {
  display: none;
}
.hamburger-menu {
  padding-right: 10px;
  font-size: 1.8em;
  color: #fff;
}
.hamburger-menu:hover {
  cursor: pointer;
}
#hamburger-menu:checked ~ .dropdownmenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 126px;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 998;
  color: #fff;
}
.menuhamburger,
.iconhamburger {
  text-align: center;
  font-size: 1.3em;
}
.menuhamburger li {
  padding-top: 0.4em;
}
.iconhamburger {
  display: flex;
  justify-content: center;
}
.iconhamburger i {
  padding: 1em;
}

/* Hero */
.hero {
  height: 70vh;
  background-image: url(../images/kamil-kalbarczyk03.jpg);
  background-size: cover;
  background-position: bottom right;
  position: relative;
}
.hero__content {
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px 0 30px 0;
}
.hero__content p {
  margin-bottom: 1.5em;
}
.hero__content a {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 10px;
}

/* See our jackets */
main h2 {
  margin: 2em 0 0.7em 0;
  text-align: center;
}
main {
  width: 100%;
}
.main__box img {
  width: 100%;
}
.main__box {
  width: 90%;
}
