/*Global*/
@import url("https://use.typekit.net/onj7zyw.css");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Lato, Tenon, Verdana, sans-serif;
  font-size: 20px;
  font-weight: normal;
  background-color: #d4e0e2;
  margin: 0 auto;
  position: relative;
  color: #0a3641;
}
h1 {
  font-size: 1.6em;
  color: #0a3641;
  text-transform: uppercase;
}
h2 {
  font-family: tenon, verdana, sans-serif;
  font-weight: 500;
}
h3 {
  font-family: tenon, verdana, sans-serif;
  font-weight: 500;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
}
.hero__home p {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
}
a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
.orange-text {
  color: #d97904;
}
.container {
  display: grid;
  justify-items: center;
  gap: 1em;
}
.jacket-target {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}
.orangebtn {
  display: block;
  background-color: #d97904;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 0.8em;
}
.underline {
  border-bottom: #0a3641 1px solid;
  padding-bottom: 8px;
}
.underline_nopadding {
  border-bottom: #0a3641 1px solid;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(10px);
  z-index: 999;
}
.logo img {
  height: 100px;
  padding-left: 20px;
}
#hamburger-menu,
.menu,
.iconmenu {
  display: none;
}
.hamburger-menu {
  padding-right: 20px;
  font-size: 1.8em;
  color: #fff;
}
#hamburger-menu:checked ~ .menu,
#hamburger-menu:checked ~ .iconmenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 0;
  width: 100%;
  background-color: #000;
  z-index: 998;
  color: #fff;
  text-align: center;
}
#hamburger-menu:checked ~ .iconmenu {
  top: 276px;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
}
.menu li {
  padding: 8px 0;
}
.iconmenu i {
  margin: 0 15px;
}
.current {
  font-weight: 500;
  text-decoration: underline;
}
/* Hero */
.hero {
  height: 70vh;
  min-height: 490px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.hero__content {
  font-family: "Lato", verdana, sans-serif;
  font-weight: 200;
  position: absolute;
  bottom: 50px;
  left: 0;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(60px);
  padding-left: 50px;
}
.hero__content p {
  padding: 15px 10px 20px 0;
}

/* Jackets card */
.jacket {
  position: relative;
  width: 80%;
  height: auto;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "jacket jacket"
    "name name"
    "description description"
    "stars price";
}
.jacket img {
  width: 95%;
  margin-top: 0.5em;
  grid-area: jacket;
  align-self: center;
}
.jacket h3 {
  grid-area: name;
  padding-top: 1em;
  justify-self: start;
}
.jacket > p:first-of-type {
  grid-area: description;
  font-size: 0.85em;
  font-weight: lighter;
  color: #707070;
  justify-self: start;
  padding-bottom: 2em;
}
.stars {
  grid-area: stars;
  font-size: 0.5em;
  justify-self: start;
}
.jacket .price {
  grid-area: price;
  justify-self: end;
  font-family: tenon, verdana, sans-serif;
  font-weight: 500;
  font-size: 1.3em;
}

/* Footer */
footer {
  margin-top: 3em;
  border-top: 3px #0a3641 solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  margin-top: 1em;
}
footer a {
  color: #5b5b5b;
  font-weight: lighter;
  text-transform: capitalize;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
}
.footer div:nth-child(3) {
  width: 136px;
}
.social {
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.social a {
  color: #0a3641;
}
.copyright {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 1.2em 0;
  font-weight: 300;
}

/* Effects */
.menu a:hover {
  text-decoration: underline;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.iconmenu i:hover,
.iconhamburger i:hover,
.social i:hover {
  cursor: pointer;
  color: #d97904;
}
.searchwrap label:hover {
  cursor: pointer;
}
.cta,
.main__men img,
.main__women img,
.searchwrap a {
  transition: 0.3s;
}
.orangebtn:hover,
.searchwrap a:hover,
#loginbtn:hover,
input[type="submit"]:hover {
  outline: 1px solid #d97904;
  background-color: #fff;
  color: #d97904;
  cursor: pointer;
}
.cta:hover {
  background-color: #fff;
  color: #000;
}
#latest-homepage h2 {
  position: relative;
}
#latest-homepage h2 span {
  position: absolute;
  top: -150px;
}
.main__men:hover img,
.main__women:hover img {
  transform: scale(1.1);
}
.jacket:hover {
  outline: 2px solid #0a3641;
}
footer a:hover {
  color: #0a3641;
  font-weight: 500;
}
.footer-current {
  text-decoration: underline;
}
.btn_size:hover {
  background-color: #d4e0e2;
  cursor: pointer;
}
.btn_size:focus {
  background-color: #d97904;
  color: #fff;
  outline: none;
}
